@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.search-page {
  width: 100%;
  min-height: 100vh;

  .search-page-container {
    width: $laptop;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    // Search item container
    .search-item-wrapper {
      @include shadow3;
      background-color: $form-bg;

      .subTitle {
        @include subTitle;
        padding: 0 0 1rem 0;
        font-size: 1.8rem;
      }

      .search-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 1rem;

        .input-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          gap: 0.3rem;

          .input-label {
            width: 27%;
            font-size: 1.2rem;
            font-weight: $aafw;
          }

          .input-field {
            @include inputField;
            width: 70%;
          }

          .checkbox-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.3rem;
            margin: 0 1.3rem 0 0;

            .checkbox {
              width: 1.2rem;
              height: 1.2rem;
            }

            .rent-sale {
              font-size: 1.2rem;
            }
          }

          // select options

          .select-options {
            @include inputField;
            width: 70%;
          }
        }

        .search-button {
          @include button3;
        }
      }
    }

    // Search item result container
    .search-result-wrapper {
      @include shadow3;

      .title {
        @include title;
      }

      .no-house-found {
        @include paragraph;
        color: $red;
      }

      .loader {
        @include flexCenter;
      }

      .searched-houses-result {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;

        .show-more-btn {
          @include button2;
        }
      }
    }
  }
}
