@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.profile-page {
  width: 100%;
  min-height: 100vh;
  position: relative;

  .profile-container {
    width: 70%;
    margin: 1rem auto;
    @include shadow3;

    .profile-title {
      @include title;
    }

    .image-container {
      @include flexCenter;
      margin: 1rem 0 2rem 0;
      position: relative;

      .image {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
      }

      .image-upload {
        color: $red;
        position: absolute;
        bottom: -1.6rem;

        .image-upload-error {
          color: $red;
        }

        .percentage-upload {
          color: $green;
        }

        .successful-upload {
          color: $green;
        }
      }
    }

    // Form styling
    .profile-form {
      width: 90%;
      margin: auto;
      @include flexCenter;
      flex-direction: column;
      row-gap: 0.5rem;

      .input-container {
        position: relative;
        @include inputContainer;

        .input-field {
          @include inputField;
          margin-bottom: $radius;
          padding-left: 2rem;

          &::placeholder {
            color: gray;
          }
        }

        .input-label {
          @include inputLabel;
          position: absolute;
          top: 0;
          left: 2rem;
          color: rgba(204, 204, 204, 0);
        }

        .input-highlight {
          position: absolute;
          bottom: 0.2rem;
          left: 0;
          height: 2px;
          width: 0;
          background-color: $yellow;
          transition: all 0.3s ease;
        }

        .input-field:focus + .input-label {
          top: -20px;
          font-size: 12px;
          color: #007bff;
        }

        .input-field:focus + .input-label + .input-highlight {
          width: 100%;
        }

        .icon {
          position: absolute;
          top: 1.1rem;
          left: 0.5rem;
          font-size: 1rem;
        }

        // displaying password
        .password-display {
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translatey(-50%);
          font-size: 1.3rem;
          cursor: pointer;
        }
      }

      .update-button {
        width: 100%;
        @include button1;
        margin: 0 0 1rem 0;
        align-self: flex-start;
      }

      // Create houses styling
      .creating-houses {
        width: 100%;
        @include shadow3;
        padding: 1rem 0 2.5rem 1rem;

        .subTitle {
          @include subTitle;
        }

        .paragraph {
          @include paragraph;
          margin-bottom: 1rem;
        }

        .create-house-link {
          @include button3;
        }
      }

      //List of created houses
      .list-of-created-houses {
        width: 100%;
        @include shadow3;
        position: relative;

        .subTitle {
          @include subTitle;
        }

        .show-house-btn {
          @include button3;
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
        .house-desplay-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include shadow3;

          .house-image-container {
            .house-image {
              width: 10rem;
              border-radius: $radius;
              object-fit: cover;
            }
          }

          .subTitle {
            @include subTitle;
          }

          .edit-btn {
            @include edit;
          }

          .delte-btn {
            @include delete;
          }
        }
      }
    }

    // Delete and log out account styling
    .account-management {
      width: $laptop;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 0;
      left: 2.8rem;

      .delete {
        @include delete;
      }

      .sign-out {
        @include delete;
      }
    }

    .error {
      width: 50%;
      margin: auto;
      color: $red;
      @include paragraph;
    }

    .success {
      width: 50%;
      margin: auto;
      color: $green;
      @include paragraph;
    }
  }
}
